html{
  line-height:1.5;
}
header{
  font-family:sans-serif;
  font-size:1.8em;
  color:black
}
main{
  font-family:sans-serif;
  font-size:0.95em;
  color:rgb(70,70,70);
}
#navbar a{
  text-decoration:none;
  color:rgb(70,70,70);
}
#navbar ul{
  list-style:none;
  padding:0px;
  overflow:auto;
}
#navbar li{
  text-align:left;
  padding:11px 0px 11px 16px;;
  font-size:1.1em;
  border-top-style:solid;
  border-width:1px;
}
#navbar{
  width:290px;
  height:100%;
  position:fixed;
  left:0px;
  top:0px;
  border-right-style:solid;
  border-color:grey;
  overflow:auto;
}
#navbar header{
  padding:15px 0px 4px;
  padding-left:20px;
  font-size:1.9em;
}
.body{
  position:absolute;
  left:320px;
  right:10px;
  top:30px;
}

.body p{
  padding-left:20px;
}
.body ul{
  padding-left:80px;
}

code{
  display:block;
  padding:15px;
  width:90%;
  background:rgb(240,240,240);
  border-radius:3px;
}

@media(max-width:820px){
  #navbar header{
    position:static;
    text-align:center;
    width:100%;
  }
  #navbar ul{
    display:block;
    position:absolute;
    top:50px;
    height:191px;
    width:95%;
    left:20px;
    border-style:solid;
  }
  #navbar{
    max-height:270px;
    position:absolute;
    top:0px;
    width:100%;
    border-style-bottom:solid;
    overflow:hidden;
  }
  .body{
   position:absolute;
    top:300px;
    left:20px;
    padding:10px;
  }
}

